redis
psycopg2-binary
attrs==21.2.0
awscli==1.20.22
bcrypt==3.2.0
boto==2.49.0
boto3==1.18.23
botocore==1.21.23
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
click==8.0.1
colorama==0.4.3
cryptography==3.4.7
distro==1.6.0
docker==5.0.0
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.15.2
Flask==2.0.1
Flask-SQLAlchemy==2.5.1
greenlet==1.1.1
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
jmespath==0.10.0
jsonschema==3.2.0
MarkupSafe==2.0.1
paramiko==2.7.2
pyasn1==0.4.8
pycparser==2.20
PyNaCl==1.4.0
pyrsistent==0.18.0
python-dateutil==2.8.2
python-dotenv==0.19.0
PyYAML==5.4.1
requests==2.26.0
rsa==4.7.2
s3transfer==0.5.0
six==1.16.0
SQLAlchemy==1.4.22
texttable==1.6.4
urllib3==1.26.6
websocket-client==0.59.0
Werkzeug==2.0.1